.LOGO img {
  width: clamp(100px, 8.177vw, 157px);
  height: auto;
}

.AVATAR img {
  width: clamp(30px, 3.333vw, 50px);
  height: auto;
}

table {
  @apply min-w-[600px] w-full;
}

table tr {
  @apply border-b;
}

table tr th {
  @apply md:pr-0 pr-4  text-gray-400 tracking-wide font-medium  uppercase text-left pb-2 text-inherit;
}

table tr td {
  @apply px-2 py-4 md:pt-6 md:pb-10 font-normal  text-inherit;
}

.primary-button {
  @apply uppercase text-white font-bold text-sm px-4 py-[10px] rounded bg-bluebonnet;
}

.secondary-button {
  @apply uppercase text-white font-bold text-sm px-4 py-[10px] rounded bg-[#6E6E6E];
}

.profile-input {
  @apply border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 h-[52px] p-2 placeholder:text-xl outline-none;
}

.profile-tabs {
  @apply outline-none data-[selected]:text-[#1921FA] cursor-pointer text-xl flex items-center gap-4;
}

.animate {
  animation: rotate-scale-up 0.65s linear both;
}

.stat-card:not(:last-child) {
  @apply md:border-r md:border-gray-300;
}

.select_country {
  border-radius: 16px !important;
}

.table-search--mobile {
  /* left: 50%;
  transform: translateX(-29%) !important; */
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
